
.pDiv {
    text-align: center;
    color: white;
}

.buttonsDiv {
    display: flex;
    justify-content: center;
}
.text{
    font-size: 26px;
    font-weight: 700;
}
.subtext{
    font-size: 18px;
}

.button1, .button2, .button3 {
    height: 100px;
    width: 200px;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid #9a9d9c;
    background:  #f8f8f8;

}

.greenBox {
    background: linear-gradient(120deg, #21ca8a 0%, #31ab98 100%);
    border-radius: 5px;

    width: 724px;
    margin-top: 20px;
    padding: 30px;
}


.green1, .green2, .green3 {
    background-color: transparent;
    flex: 0 0 auto;
    width: 33.33333333%;
    
}

.h3green{
    margin-bottom: 1.5rem!important;
    color: white;
        display: flex;
        justify-content: center;
    font-size: 1.2rem;
}

.section2 {
    font-family: Lato,Helvetica Neue,sans-serif;
    background: linear-gradient(to bottom, #f8f8f8, #f8f8f8 75%, white 25%, white);
}

.section2h2 {
    text-align: center;
    padding-top: 40px;
}

.section2Par {
    text-align: center;
}

.section2h3 {
    text-align: center;
    font-size: 23px;
    padding-top: 30px;

}

.section2 {
    height: 450px;
    margin: 200px 0;
    border-radius: 5px;
}

.subGreen {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 0;
    display: flex;
    margin-right: calc(var(--bs-gutter-x)*-0.5);
    margin-left: calc(var(--bs-gutter-x)*-0.5);
}

.review1{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 600px) {
    .greenBox{
        width: 100%;
    }
    .section2{
        margin-top: 2px;
    }
    
}
@media (min-width: 576px){
.navbar-expand-sm .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
    align-items: center;
}
}
.b1 span , .b2 span, .b3 span{
    font-size: 16px;
    font-weight: 800px;
}
.active span{
    color: #31ab98;
}
.active{
    border: 2px solid #31ab98;
background: #ffff;
}